/* ::::: http://img3.douban.com/f/shire/d356b93ec449a1e0ff1e197d16b27a3122e1d365/css/lib/jquery.editable-select.css ::::: */

input.editable-select { background: url('arrow-down.gif') no-repeat scroll right center rgb(255, 255, 255); padding-right: 13px; }
.editable-select-options { position: absolute; display: none; overflow: auto; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); z-index: 10; }
.editable-select-options ul { margin: 0px; padding: 0px; z-index: 10; list-style: none outside none; }
.editable-select-options li { cursor: default; padding: 2px; }
/* ::::: http://img3.douban.com/f/shire/8d8bde48506133204e5afc7d961a9fcb56ad4b32/css/datepicker.css ::::: */

.ui-datepicker { width: 17em; padding: 0.2em 0.2em 0px; background: none repeat scroll 0% 0% rgb(238, 249, 235); border: 1px solid rgb(206, 236, 198); z-index: 99; }
/* ::::: http://img3.douban.com/f/shire/ae32cb8310a09ba836b958b79d2cd1e706db2fed/css/ui/dialog.css ::::: */

.dui-dialog { position: fixed; z-index: 1000; }
.dui-dialog .dui-dialog-content { position: relative; z-index: 2; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); border-radius: 4px; }
.dui-dialog .hd { padding: 10px 10px 6px; background: none repeat scroll 0% 0% rgb(235, 245, 235); font-size: 14px; border-radius: 4px 4px 0px 0px; }
.dui-dialog .hd h3 { padding: 0px 40px 0px 4px; background: none repeat scroll 0px center transparent; color: rgb(0, 102, 0); }
.dui-dialog .bd { position: relative; padding: 15px; font-size: 12px; }
.dui-dialog .bd:after { content: " "; clear: both; display: block; }
.dui-dialog .dui-dialog-close { position: absolute; top: 10px; right: 12px; padding: 0px 3px; z-index: 1; font: 11px/1.2 "Comic Sans MS",sans-serif; }
a.dui-dialog-close:link { color: rgb(180, 180, 180); }
a.dui-dialog-close:hover { color: rgb(250, 176, 182); background: none repeat scroll 0px center transparent; }
.dui-dialog .dui-dialog-shd { position: absolute; left: -8px; top: -8px; width: 100%; height: 100%; padding: 8px; background: none repeat scroll 0% 0% rgb(102, 102, 102); opacity: 0.4; border-radius: 5px; }
.dui-dialog-iframe { border: 0px none; background: none repeat scroll 0% 0% transparent; position: absolute; z-index: 1; left: -8px; top: -8px; opacity: 0; }
/* ::::: http://img3.douban.com/f/shire/5f9de2b10ade1904ae2b9ddbb8ad5d2455955ec8/css/douban.css ::::: */

html { color: rgb(17, 17, 17); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote { margin: 0px; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img { border: 0px none; }
address, caption, cite, code, dfn, em, i, strong, th, var, optgroup { font-style: normal; font-weight: normal; }
ul, ol { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input, button, textarea, select {  }
a { cursor: pointer; }
a:link { color: rgb(51, 119, 170); text-decoration: none; }
a:visited { color: rgb(102, 102, 153); text-decoration: none; }
a:hover { color: rgb(255, 255, 255); text-decoration: none; background: none repeat scroll 0% 0% rgb(51, 119, 170); }
a:active { color: rgb(255, 255, 255); text-decoration: none; background: none repeat scroll 0% 0% rgb(255, 153, 51); }
a img { border-width: 0px; vertical-align: middle; }
body, td, th { font: 12px/1.62 Helvetica,Arial,sans-serif; }
table { border-collapse: collapse; border: 0px none; padding: 0px; margin: 0px; }
textarea { resize: none; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: 0px none; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
#wrapper { width: 950px; margin: 0px auto; }
#content { min-height: 420px; }
#footer { color: rgb(153, 153, 153); padding: 6px 0px; margin-top: 40px; overflow: hidden; border-top: 1px dashed rgb(221, 221, 221); }
input { margin-right: 3px; vertical-align: middle; }
label { font-family: Tahoma; vertical-align: middle; }
.extra { clear: both; text-align: right; }
form { margin: 0px; padding: 0px; border: 0px none; }
ol { padding: 0px 0px 0px 20px; }
textarea { font-family: Arial; overflow: auto; }
input { font-size: 12px; }
a { cursor: pointer; }
a:link { color: rgb(51, 119, 170); text-decoration: none; }
a:visited { color: rgb(102, 102, 153); text-decoration: none; }
a:hover { color: rgb(255, 255, 255); text-decoration: none; background: none repeat scroll 0% 0% rgb(51, 119, 170); }
a:active { color: rgb(255, 255, 255); text-decoration: none; background: none repeat scroll 0% 0% rgb(255, 153, 51); }
a img { border-width: 0px; vertical-align: middle; }
table { border-collapse: collapse; border: 0px none; padding: 0px; margin: 0px; }
h1 { word-wrap: break-word; display: block; font-size: 25px; font-weight: bold; color: rgb(73, 73, 73); margin: 0px; padding: 0px 0px 15px; line-height: 1.1; }
h3 { margin-left: 4px; font: 14px/1.8 Arial,Helvetica,sans-serif; color: rgb(102, 102, 102); margin-bottom: 1px; background-color: rgb(242, 251, 242); }
ul { list-style-type: none; margin: 0px; padding: 0px; }
h2 { font: 15px/150% Arial,Helvetica,sans-serif; color: rgb(0, 119, 34); margin: 0px 0px 12px; }
textarea { border: 1px solid rgb(204, 204, 204); padding: 3px; font-size: 14px; }
.pl { font: 12px/150% Arial,Helvetica,sans-serif; color: rgb(102, 102, 102); }
.hidden { display: none; }
.fleft { float: left; }
.fright { float: right; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.hide { display: none; }
@media not all {
}
.lnk-flat, .lnk-confirm, .bn-flat { display: inline-block; border-width: 1px; border-style: solid; border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(153, 153, 153); color: rgb(68, 68, 68); border-radius: 3px; overflow: hidden; vertical-align: middle; }
.bn-flat:hover, a.lnk-flat:hover { border-color: rgb(153, 153, 153) rgb(153, 153, 153) rgb(102, 102, 102); color: rgb(51, 51, 51); }
.lnk-flat, .lnk-confirm, .bn-flat input { border: 0px none; height: 25px; padding: 0px 14px; color: rgb(51, 51, 51); font-size: 12px; margin: 0px ! important; cursor: pointer; border-radius: 2px; background-image: -moz-linear-gradient(-90deg, rgb(252, 252, 252) 0px, rgb(233, 233, 233) 100%); }
a.lnk-flat:hover, a.lnk-flat:active, .bn-flat input:hover, .bn-flat input:focus, .bn-flat-over input { color: rgb(51, 51, 51) ! important; background-color: transparent ! important; background-image: -moz-linear-gradient(-90deg, rgb(248, 248, 248) 0px, rgb(221, 221, 221) 100%); }
a.lnk-flat:active, .bn-flat input:active, .bn-flat-active input { background: none repeat scroll 0% 0% rgb(221, 221, 221) ! important; color: rgb(51, 51, 51) ! important; border-color: rgb(153, 153, 153) rgb(153, 153, 153) rgb(102, 102, 102) ! important; }
.lnk-flat, .lnk-confirm { border-radius: 4px; }
.lnk-flat, .lnk-confirm { height: 24px; padding: 0px 8px; line-height: 24px; border: 1px solid rgb(217, 217, 217); }
a.lnk-flat:link, a.lnk-flat:visited { color: rgb(51, 51, 51); }
a.lnk-flat:hover { color: rgb(51, 51, 51); }
a.lnk-flat:active { color: rgb(51, 51, 51); background: none repeat scroll 0% 0% rgb(235, 235, 235); }
@media not all, not all {
	.lnk-flat, .bn-flat input { background: url('sp_all_2.png') repeat-x scroll 0px -700px transparent; }
	a.lnk-flat:hover, a.lnk-flat:active, .bn-flat input:hover, .bn-flat-over input { background-position: 1px 706px; }
	a.lnk-flat:link, a.lnk-flat:visited { background: url('sp_all_2.png') repeat-x scroll 0px -641px transparent; }
	a.lnk-flat:hover { background-position: 0px -701px; }
}
@media not all {
}
/* ::::: http://img3.douban.com/f/shire/a23259957b835b7ec4c23b089798e711c2c4c9cf/css/loc/base.css ::::: */

ol, ul { list-style-position: outside; margin-left: 0px; }
address, em { font-style: normal; }
p { margin-top: 0.5em; margin-bottom: 0.7em; }
.fwrap { width: 950px; margin: 0px auto; z-index: 0; clear: both; }
.grid-free .article { width: 590px; padding-right: 20px; float: left; }
.grid-free .aside { width: 310px; padding-left: 20px; float: right; }
.tri-down, .tri-up, .tri-left, .tri-right { display: inline-block; height: 0px; width: 0px; line-height: 0; font-size: 0px; vertical-align: middle; border: 4px dashed transparent; }
.tri-down { border-top: 4px solid rgb(204, 204, 204); border-bottom: 0px none ! important; }
a.btn-cancel, a.btn-cancel:visited, a.btn-cancel:hover, a.btn-cancel:active { color: rgb(102, 102, 102); background: none repeat scroll 0px center transparent; font: 400 14px/0.9 tahoma; border: 0px none; cursor: pointer; }
.loc-btn, .loc-btn:visited { cursor: pointer; padding: 5px 12px; border-radius: 3px; color: rgb(255, 255, 255); background-color: rgb(61, 186, 209); border: 1px solid rgb(57, 184, 207); outline: 0px none; }
.loc-btn:hover { background-color: rgb(128, 179, 201); border-color: rgb(128, 176, 192); }
.loc-btn:active { background-color: rgb(102, 153, 204); }
.hrline { border-bottom: 1px dotted rgb(221, 221, 221); margin: 20px 0px; }
h1 { padding-bottom: 30px; }
h2 { margin-bottom: 24px; color: rgb(51, 51, 51); }
.desc { color: rgb(153, 153, 153); margin-bottom: 5px; }
.basic-input { margin-right: 10px; font-size: 13px; border: 1px solid rgb(204, 204, 204); padding: 5px 4px; }
input.basic-input { border-radius: 3px; }
input.basic-input:focus { border: 1px solid darkGray; }
textarea.basic-input { font-size: 14px; border: 1px solid rgb(221, 221, 221); resize: vertical; border-radius: 3px; }
textarea.basic-input:focus { border: 1px solid darkGray; }
select.basic-input { padding: 3px 4px; }
/* ::::: http://img3.douban.com/f/shire/5c6371557acefa640eabbea13ade50d7439a7701/css/loc/event/create/_init_.css ::::: */

select { display: inline-block; vertical-align: middle; margin: 0px; }
label { vertical-align: initial; }
.nav-step { margin-bottom: 25px; }
.nav-step span { font-size: 14px; margin-right: 15px; }
.row { margin: 10px 0px; overflow: hidden; }
.row label.field { display: inline-block; float: left; margin-right: 15px; text-align: right; width: 60px; font-size: 13px; vertical-align: middle; }
.row label .man { color: red; padding-left: 2px; display: none; }
.row .basic-input { margin-right: 10px; font-size: 13px; border: 1px solid rgb(221, 221, 221); padding: 5px 4px; }
.row input.basic-input { border-radius: 3px; }
.row textarea { font-size: 14px; resize: vertical; border-radius: 3px; }
.row .basic-input:focus { border: 1px solid rgb(204, 204, 204); }
.row .item { margin-left: 85px; margin-bottom: 10px; }
.row .floatbug {  }
.hrline { height: 1px; border-right: 0px none; border-width: 1px 0px 0px; border-style: dotted none none; border-color: rgb(221, 221, 221) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin-top: 8px; margin-bottom: 18px; }
.inner-back { padding: 10px; background-color: whitesmoke; }
.con_item { margin-bottom: 10px; }
.con_item label.inner { float: left; display: inline-block; margin-right: 10px; width: 60px; vertical-align: middle; }
.con_item .inner-item { margin-left: 70px; margin-bottom: 10px; }
.con_item .week-label label { width: 20px; line-height: 16px; display: inline-block; text-align: center; padding-right: 8px; }
a.btn-cancel { color: rgb(102, 102, 102); background: none repeat scroll 0px center transparent; font: 400 14px/0.9 tahoma; border: 0px none; }
a.btn-cancel:hover, a.btn-cancel:active, a.btn-cancel:visited { color: rgb(102, 102, 102); background: none repeat scroll 0px center transparent; font: 400 14px/0.9 tahoma; border: 0px none; }
.hint { color: gray; }
.validate-error { display: none; color: rgb(254, 38, 23); }
#ui-datepicker-div { display: none; overflow: hidden; }
#ui-datepicker-div { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); position: absolute; width: 164px; border-radius: 3px; }
input.inp-date, .hasDatepicker { width: 90px; padding-right: 10px ! important; background: url('ico-calendar.gif') no-repeat scroll 85px 5px white; }
ol { list-style: decimal outside none; }
#region_id {  }
.row .item .item { margin: 0px; }
#eform { font-size: 12px; }
#title, #desc { width: 395px; }
.item.priv label, .no-need-fee { margin-right: 24px; }
.address-select { width: 120px; }
#events-new-address { overflow: hidden; }
select { vertical-align: middle; }
.ui-drop-input { position: relative; display: inline-block; }
.ui-drop-input input { cursor: pointer; }
.ui-drop-input input:focus { cursor: text; }
.ui-drop-input .tri-down { cursor: pointer; border-width: 4px; border-top-color: rgb(128, 128, 128); position: absolute; right: 15px; top: 50%; margin-top: -2px; }
.map-card { float: left; margin: 5px 0px 0px; border: 1px solid rgb(228, 228, 212); border-radius: 6px; }
.map-card .bd { position: relative; padding: 6px; }
.map-card-modify { margin-top: 5px; }
.map-card-modify .lnk-modify-addr { margin-left: 10px; }
.lnk-modify-addr:hover { background: none repeat scroll 0px center transparent; color: rgb(51, 119, 170); }
.map-card-nomark { display: block; position: absolute; top: 50%; left: 50%; margin-left: -20%; margin-top: -1em; font-size: 14px; text-align: center; padding: 0.4em 0.6em; line-height: 1; border-radius: 4px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
a:hover .map-card-nomark { color: rgb(1, 146, 181); }
a:hover .map-card-nomark:hover { background: none repeat scroll 0% 0% rgb(254, 50, 0); color: rgb(255, 255, 255); }
#mapWrapper { height: 310px; }
.dui-dialog { z-index: 2; }
.page-address { position: relative; }
.map-error-fix { float: right; padding-right: 15px; padding-top: 5px; }
#pageAddressHook .map-item-error { margin-bottom: 0px; }
#map-search-container { padding: 10px; }
#search-control-ui { width: 400px; padding: 4px 0px 4px 10px; border: 1px solid rgb(201, 201, 201); border-radius: 6px; }
#q-address { width: 370px; font-size: 14px; border: 0px none; outline: 0px none; }
#btn-search { width: 18px; height: 18px; border: 0px none; background: url('ic_srh.png') no-repeat scroll 50% 50% transparent; overflow: hidden; font-size: 0px; cursor: pointer; }
.address-field-scope { margin-bottom: 10px; }
.all-address-field { overflow: hidden; }
.map-footer { padding: 10px; font-weight: bold; text-align: center; line-height: 24px; }
.map-footer a.map-save:link, .map-footer a.map-save:visited, .map-footer a.map-save:hover, .map-footer a.map-save:active { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(51, 153, 204); border-width: 0px; }
.map-footer a.map-save:hover { background: none repeat scroll 0% 0% rgb(70, 171, 221) ! important; color: rgb(255, 255, 255) ! important; }
.map-footer a.map-cancel:link, .map-footer a.map-cancel:visited, .map-footer a.map-cancel:hover, .map-footer a.map-cancel:active { background: none repeat scroll 0% 0% rgb(215, 215, 215); border-width: 0px; }
.map-footer a.map-cancel:hover { background: none repeat scroll 0% 0% rgb(221, 221, 221) ! important; }
.static-map { height: 106px; width: 388px; z-index: -10; cursor: pointer; }
.fee-num { width: 57px; }
.fee-name { width: 120px; }
.footer { margin-top: 30px; }
.footer .item {  }
/* ::::: http://img3.douban.com/misc/mixed_static/6dd7f9e60c16d718.css ::::: */

.global-nav .bn-more span { display: inline-block; vertical-align: baseline; }
.global-nav .arrow { position: relative; top: -2px; left: 2px; border-width: 3px 3px 0px; border-color: rgb(213, 213, 213) transparent transparent; border-style: solid dashed dashed; width: 0px; height: 0px; font-size: 0px; line-height: 0; }
.global-nav a:hover .arrow { border-color: rgb(255, 255, 255) transparent transparent; }
.global-nav .more-items { display: none; position: absolute; left: 0px; }
.global-nav { height: 28px; color: rgb(213, 213, 213); background-color: rgb(84, 86, 82); min-width: 950px; }
.global-nav a:link, .global-nav a:visited, .global-nav a:hover, .global-nav a:active { color: rgb(213, 213, 213); }
.global-nav a:hover, .global-nav a:active { color: rgb(255, 255, 255); background-color: transparent; }
.global-nav .global-nav-items { font-size: 0px; }
.global-nav .global-nav-items li { display: inline-block; line-height: 28px; font-size: 12px; vertical-align: baseline; }
.global-nav .global-nav-items a { display: inline-block; padding: 0px 12px; height: 28px; }
.global-nav .top-nav-info { float: right; margin: 0px 12px 0px 0px; line-height: 28px; }
.global-nav .top-nav-info ul, .global-nav .top-nav-info li { display: inline-block; }
.global-nav .top-nav-info a { display: inline-block; margin: 0px; padding: 0px 12px; height: 28px; }
.global-nav .nav-user-account .more-items { left: auto; right: 6px; }
.global-nav .top-nav-reminder { position: relative; float: right; margin-right: 5px; line-height: 28px; }
.global-nav .top-nav-reminder a { position: relative; }
.global-nav .top-nav-reminder .lnk-remind { display: inline-block; padding: 0px 12px; height: 28px; }
.global-nav .top-nav-reminder .more-items { position: absolute; z-index: 999; padding: 0px; width: 280px; left: -125px; top: 28px; border: 1px solid rgb(230, 230, 230); background: none repeat scroll 0% 0% rgb(255, 255, 255); white-space: normal; word-wrap: break-word; }
.global-nav .top-nav-reminder .more-items .bd { padding-top: 16px; color: rgb(62, 62, 62); line-height: 1.5; }
.global-nav .top-nav-reminder .more-items .bd p { padding: 0px 15px 13px; border-bottom: 1px solid rgb(240, 240, 240); }
.global-nav .top-nav-reminder .more-items p { margin: 0px; color: rgb(153, 153, 153); }
.perf-metric { position: absolute; margin-left: -200px; }
.nav { width: 100%; min-width: 950px; overflow: hidden; margin-bottom: 40px; }
.nav .nav-wrap { border-bottom: 1px solid rgb(229, 235, 228); }
.nav .nav-primary, .nav .nav-secondary { width: 950px; margin: 0px auto; padding-bottom: 0px; overflow: hidden; }
.nav .nav-primary { position: relative; padding: 10px 0px 5px; overflow: hidden; }
.nav .nav-logo { float: left; height: 56px; width: 145px; margin: 0px 13px 0px 0px; background: url('lg_main_a11_1.png') no-repeat scroll 0px 12px transparent; }
.nav .nav-logo a { display: block; width: 100%; height: 100%; overflow: hidden; line-height: 100em; }
.nav .nav-logo a:hover, .nav .nav-logo a:active { background: none repeat scroll 0% 0% transparent ! important; }
.nav-search { position: relative; overflow: hidden; padding: 10px 0px 15px; }
.nav-search input { border: 0px none; background: none repeat scroll 0% 0% transparent; }
.nav-search label { position: absolute; left: 11px; top: 10px; line-height: 30px; cursor: text; color: rgb(187, 187, 187); width: auto; }
.nav-search :-moz-placeholder { color: rgb(187, 187, 187); }
.nav-search *::-moz-placeholder { color: rgb(187, 187, 187); }
.nav-search .inp { float: left; width: 470px; height: 34px; text-align: center; cursor: text; background: url('nav_bg_a1.png') no-repeat scroll 0px 0px transparent; }
.nav-search .inp input { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 96%; margin: 0px; text-align: left; height: 30px; padding-left: 10px; outline: 0px none; }
.nav-search .inp-btn { position: relative; left: -1px; width: 37px; height: 34px; overflow: hidden; }
#db-nav-location { overflow: hidden; background: none repeat scroll 0% 0% rgb(246, 245, 242); }
#db-nav-location .nav-wrap { border: 0px none; }
#db-nav-location .nav-items, #db-nav-location .local-label { margin: 10px 0px 0px; }
#db-nav-location .nav-logo { width: 124px; background-image: url('lg_location_a11_1.png'); }
#db-nav-location .nav-items { float: left; font-size: 0px; margin-top: 13px; }
#db-nav-location .nav-items li { position: relative; display: inline-block; font-size: 15px; margin: 0px 15px; white-space: nowrap; }
#db-nav-location .nav-items li a:link, #db-nav-location .nav-items li a:visited { color: rgb(102, 68, 51); }
#db-nav-location .nav-items li a:hover, #db-nav-location .nav-items li a:active { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(102, 68, 51); }
#db-nav-location .local-label { float: left; margin-right: 30px; margin-top: 13px; padding: 0px; }
#db-nav-location .local-label a.label:link, #db-nav-location .local-label a.label:visited, #db-nav-location .local-label a.label:hover, #db-nav-location .local-label a.label:active { display: inline-block; float: left; padding: 5px 10px 6px; font: 700 14px/1 tahoma,arial,'stheiti','黑体',sans-serif; background-color: rgb(222, 222, 222); border-radius: 4px; color: rgb(51, 51, 51); }
#db-nav-location .local-label a.label:hover { background-color: rgb(224, 222, 218); color: rgb(51, 51, 51); }
.nav-local-list { display: none; position: absolute; z-index: 10; left: 50%; border: 1px solid rgb(221, 221, 221); width: 16em; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 12px 0px 6px 20px; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1); }
.nav-local-list li { display: inline-block; vertical-align: top; width: 4em; margin: 0px -3px 6px 0px; white-space: nowrap; }
.local-label i { display: inline-block; margin-left: 5px; height: 0px; width: 0px; line-height: 0; border-color: rgb(51, 51, 51) transparent transparent; border-style: solid dashed dashed; border-width: 6px 5px 0px; vertical-align: middle; }
#db-nav-location .nav-search { float: right; position: relative; transition: all 0.5s ease 0s; padding: 10px 0px; }
#db-nav-location label { top: 0px; line-height: 28px; }
#db-nav-location .inp { position: relative; width: 278px; height: 28px; border: 1px solid rgb(227, 226, 222); text-align: left; background: url('undefined') no-repeat scroll 100% 50% rgb(255, 255, 255); border-radius: 0px; }
#db-nav-location .inp-text { margin: 0px; width: 92%; height: 28px; background: none repeat scroll 0px center transparent; }
#db-nav-location .inp-btn { cursor: pointer; font-size: 0px; line-height: 9999px; position: absolute; z-index: 1; width: 30px; height: 28px; right: 0px; top: 0px; left: auto; background: none repeat scroll 0px center transparent; padding: 0px; margin: 0px; }
a:link, a.no-visited:visited, a.no-hover:hover { color: rgb(51, 119, 170); }
a:hover { background-color: rgb(51, 119, 170); color: rgb(255, 255, 255); }
body { min-width: 964px; }
