/* ::::: http://img3.douban.com/f/shire/8d8bde48506133204e5afc7d961a9fcb56ad4b32/css/datepicker.css ::::: */

.ui-datepicker { width: 17em; padding: 0.2em 0.2em 0px; background: none repeat scroll 0% 0% rgb(238, 249, 235); border: 1px solid rgb(206, 236, 198); z-index: 99; }
.ui-datepicker .ui-datepicker-header { position: relative; padding: 0.2em 0px; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev { left: 2px; }
.ui-datepicker .ui-datepicker-next { right: 2px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px; }
.ui-datepicker .ui-datepicker-title { margin: 0px 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker table { width: 100%; font-size: 0.9em; border-collapse: collapse; margin: 0px 0px 0.4em; }
.ui-datepicker th { padding: 0.7em 0.3em; text-align: center; font-weight: bold; border: 0px none; }
.ui-datepicker td { border: 0px none; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: 0.2em; text-align: right; text-decoration: none; }
/* ::::: http://img3.douban.com/f/shire/5f9de2b10ade1904ae2b9ddbb8ad5d2455955ec8/css/douban.css ::::: */

html { color: rgb(17, 17, 17); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote { margin: 0px; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img { border: 0px none; }
address, caption, cite, code, dfn, em, i, strong, th, var, optgroup { font-style: normal; font-weight: normal; }
ul, ol { list-style: none outside none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input, button, textarea, select {  }
a { cursor: pointer; }
a:link { color: rgb(51, 119, 170); text-decoration: none; }
a:visited { color: rgb(102, 102, 153); text-decoration: none; }
a:hover { color: rgb(255, 255, 255); text-decoration: none; background: none repeat scroll 0% 0% rgb(51, 119, 170); }
a:active { color: rgb(255, 255, 255); text-decoration: none; background: none repeat scroll 0% 0% rgb(255, 153, 51); }
a img { border-width: 0px; vertical-align: middle; }
body, td, th { font: 12px/1.62 Helvetica,Arial,sans-serif; }
table { border-collapse: collapse; border: 0px none; padding: 0px; margin: 0px; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
#wrapper { width: 950px; margin: 0px auto; }
#content { min-height: 420px; }
#footer { color: rgb(153, 153, 153); padding: 6px 0px; margin-top: 40px; overflow: hidden; border-top: 1px dashed rgb(221, 221, 221); }
input { margin-right: 3px; vertical-align: middle; }
label { font-family: Tahoma; vertical-align: middle; }
.extra { clear: both; text-align: right; }
form { margin: 0px; padding: 0px; border: 0px none; }
input { font-size: 12px; }
a { cursor: pointer; }
a:link { color: rgb(51, 119, 170); text-decoration: none; }
a:visited { color: rgb(102, 102, 153); text-decoration: none; }
a:hover { color: rgb(255, 255, 255); text-decoration: none; background: none repeat scroll 0% 0% rgb(51, 119, 170); }
a:active { color: rgb(255, 255, 255); text-decoration: none; background: none repeat scroll 0% 0% rgb(255, 153, 51); }
a img { border-width: 0px; vertical-align: middle; }
table { border-collapse: collapse; border: 0px none; padding: 0px; margin: 0px; }
h1 { word-wrap: break-word; display: block; font-size: 25px; font-weight: bold; color: rgb(73, 73, 73); margin: 0px; padding: 0px 0px 15px; line-height: 1.1; }
ul { list-style-type: none; margin: 0px; padding: 0px; }
h2 { font: 15px/150% Arial,Helvetica,sans-serif; color: rgb(0, 119, 34); margin: 0px 0px 12px; }
.ll { float: left; }
.rr { float: right; }
.pl { font: 12px/150% Arial,Helvetica,sans-serif; color: rgb(102, 102, 102); }
.paginator { font: 14px/150% Arial,Helvetica,sans-serif; color: rgb(170, 170, 170); margin: 20px 0px; text-align: center; }
.paginator a, .thispage, .break { padding: 0px 4px; margin: 2px; }
.paginator .prev { margin-right: 20px; }
.paginator .next { margin-left: 20px; }
.paginator .next a, .paginator .prev a { padding: 0px; margin: 0px; }
.paginator .thispage { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(131, 191, 115); }
.paginator .thispage { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(131, 191, 115); }
.feed { background: url('feed1.png') no-repeat scroll 0% 0% transparent; font-size: 14px; padding: 0px 0px 30px 20px; }
.fleft { float: left; }
.fright { float: right; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.aside .mod { margin-bottom: 40px; word-break: break-all; }
.mod:after { content: " "; display: block; clear: both; }
@media not all {
}
.aside .mod { margin: 0px 0px 40px; }
@media not all, not all {
}
@media not all {
}
/* ::::: http://img3.douban.com/f/shire/a23259957b835b7ec4c23b089798e711c2c4c9cf/css/loc/base.css ::::: */

ol, ul { list-style-position: outside; margin-left: 0px; }
p { margin-top: 0.5em; margin-bottom: 0.7em; }
.fwrap { width: 950px; margin: 0px auto; z-index: 0; clear: both; }
.grid-free .article { width: 590px; padding-right: 20px; float: left; }
.grid-free .aside { width: 310px; padding-left: 20px; float: right; }
strong { font-weight: 600; }
.ui-fbox { background: none repeat scroll 0% 0% rgb(255, 255, 255); display: none; position: absolute; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(221, 221, 221) rgb(187, 187, 187) rgb(187, 187, 187) rgb(221, 221, 221); }
.tri-down, .tri-up, .tri-left, .tri-right { display: inline-block; height: 0px; width: 0px; line-height: 0; font-size: 0px; vertical-align: middle; border: 4px dashed transparent; }
.tri-left { border-right: 4px solid rgb(204, 204, 204); border-left: 0px none ! important; }
.ui-ftip { padding: 6px 22px 6px 10px; border: 1px solid rgb(207, 207, 207); background: none repeat scroll 0% 0% rgb(255, 255, 255); position: absolute; border-radius: 3px; }
.ui-ftip a:hover { color: rgb(255, 255, 255); }
.ui-ftip .tri-up, .ui-ftip .tri-down, .ui-ftip .tri-left, .ui-ftip .tri-right { position: absolute; display: block; border-width: 7px; }
.ui-ftip .tri-left { top: 10px; left: -8px; border-right-color: rgb(187, 187, 187); }
.ui-ftip-rc .tri-left { top: 42%; }
.ui-ftip .tri-left .tri-left { top: -7px; left: 1px ! important; border-right-color: rgb(255, 255, 255); }
.events-list .list-entry, .pic-items li { overflow: hidden; margin-bottom: 25px; }
.events-list .pic, .pic-items .pic { float: left; width: 70px; overflow: hidden; margin-right: 20px; }
.events-list .title, .pic-items .title { margin-bottom: 5px; line-height: 1.5; }
.events-list .event-meta { line-height: 1.3; }
.events-list .event-meta li { margin-bottom: 5px; }
.event-mod { margin-bottom: 30px; }
.event-mod .hd { margin-bottom: 20px; }
.article .event-mod { min-height: 300px; }
.article .event-mod .title { font-size: 14px; margin-bottom: 6px; }
.event-mod-1col .pic { margin: 0px 20px 0px 0px; height: 90px; }
.event-mod-1col .title { height: 1.6em; overflow: hidden; }
.events-list-pic100 .list-entry { margin-bottom: 10px; padding-bottom: 20px; }
.events-list-pic100 .pic { width: 100px; height: 150px; margin-right: 20px; }
.events-list-pic100 .title { height: auto; font-size: 14px; overflow: hidden; }
.events-list-pic100 .info { color: rgb(102, 102, 102); margin-left: 120px; }
.events-list-pic100 .counts { background: none repeat scroll 0% 0% rgb(245, 245, 245); display: inline-block; padding: 3px 10px 2px; }
.events-list-pic100 .counts .pipe { width: 1px; background: none repeat scroll 0% 0% rgb(204, 204, 204); height: 0.9em; margin: 0px 4px; vertical-align: middle; display: inline-block; }
.events-list-psmall .pic { width: 110px; height: 165px; margin-right: 20px; }
.events-list-psmall .info { margin-left: 130px; }
.event-cate-tag { margin-top: 4px; }
.event-cate-tag a:link { color: rgb(153, 153, 153); margin-right: 2px; }
.event-cate-tag a:hover { color: rgb(0, 127, 158); background: none repeat scroll 0px center transparent; }
.simple-list-1col .list-entry { clear: both; margin-bottom: 25px; overflow: hidden; }
.simple-list-1col p { margin-top: 0px; }
.simple-list-1col .ll { margin-right: 10px; }
.simple-list-1col .info { padding-left: 60px; }
.simple-list-1col .title { font-size: 13px; height: 1.5em; overflow: hidden; margin: -2px 0px 4px; }
.simple-list-1col .tip { color: rgb(102, 102, 102); font-size: 12px; }
h1 { padding-bottom: 30px; }
h2 { margin-bottom: 24px; color: rgb(51, 51, 51); }
.mod { margin-bottom: 30px; }
.mod h2 { line-height: 1.2; }
/* ::::: http://img3.douban.com/misc/mixed_static/4fcd2eb1b3600e07.css ::::: */

.global-nav .bn-more span { display: inline-block; vertical-align: baseline; }
.global-nav .more-items { display: none; position: absolute; left: 0px; }
.global-nav { height: 28px; color: rgb(213, 213, 213); background-color: rgb(84, 86, 82); min-width: 950px; }
.global-nav a:link, .global-nav a:visited, .global-nav a:hover, .global-nav a:active { color: rgb(213, 213, 213); }
.global-nav a:hover, .global-nav a:active { color: rgb(255, 255, 255); background-color: transparent; }
.global-nav .global-nav-items { font-size: 0px; }
.global-nav .global-nav-items li { display: inline-block; line-height: 28px; font-size: 12px; vertical-align: baseline; }
.global-nav .global-nav-items a { display: inline-block; padding: 0px 12px; height: 28px; }
.global-nav .top-nav-info { float: right; margin: 0px 12px 0px 0px; line-height: 28px; }
.global-nav .top-nav-info a { display: inline-block; margin: 0px; padding: 0px 12px; height: 28px; }
.nav { width: 100%; min-width: 950px; overflow: hidden; margin-bottom: 40px; }
.nav .nav-wrap { border-bottom: 1px solid rgb(229, 235, 228); }
.nav .nav-primary, .nav .nav-secondary { width: 950px; margin: 0px auto; padding-bottom: 0px; overflow: hidden; }
.nav .nav-primary { position: relative; padding: 10px 0px 5px; overflow: hidden; }
.nav .nav-logo { float: left; height: 56px; width: 145px; margin: 0px 13px 0px 0px; background: url('lg_main_a11_1.png') no-repeat scroll 0px 12px transparent; }
.nav .nav-logo a { display: block; width: 100%; height: 100%; overflow: hidden; line-height: 100em; }
.nav .nav-logo a:hover, .nav .nav-logo a:active { background: none repeat scroll 0% 0% transparent ! important; }
.nav-search { position: relative; overflow: hidden; padding: 10px 0px 15px; }
.nav-search input { border: 0px none; background: none repeat scroll 0% 0% transparent; }
.nav-search label { position: absolute; left: 11px; top: 10px; line-height: 30px; cursor: text; color: rgb(187, 187, 187); width: auto; }
.nav-search :-moz-placeholder { color: rgb(187, 187, 187); }
.nav-search *::-moz-placeholder { color: rgb(187, 187, 187); }
.nav-search .inp { float: left; width: 470px; height: 34px; text-align: center; cursor: text; background: url('nav_bg_a1.png') no-repeat scroll 0px 0px transparent; }
.nav-search .inp input { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 96%; margin: 0px; text-align: left; height: 30px; padding-left: 10px; outline: 0px none; }
.nav-search .inp-btn { position: relative; left: -1px; width: 37px; height: 34px; overflow: hidden; }
#db-nav-location { overflow: hidden; background: none repeat scroll 0% 0% rgb(246, 245, 242); }
#db-nav-location .nav-wrap { border: 0px none; }
#db-nav-location .nav-items, #db-nav-location .local-label { margin: 10px 0px 0px; }
#db-nav-location .nav-logo { width: 124px; background-image: url('lg_location_a11_1.png'); }
#db-nav-location .nav-items { float: left; font-size: 0px; margin-top: 13px; }
#db-nav-location .nav-items li { position: relative; display: inline-block; font-size: 15px; margin: 0px 15px; white-space: nowrap; }
#db-nav-location .nav-items li a:link, #db-nav-location .nav-items li a:visited { color: rgb(102, 68, 51); }
#db-nav-location .nav-items li a:hover, #db-nav-location .nav-items li a:active { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(102, 68, 51); }
#db-nav-location .local-label { float: left; margin-right: 30px; margin-top: 13px; padding: 0px; }
#db-nav-location .local-label a.label:link, #db-nav-location .local-label a.label:visited, #db-nav-location .local-label a.label:hover, #db-nav-location .local-label a.label:active { display: inline-block; float: left; padding: 5px 10px 6px; font: 700 14px/1 tahoma,arial,'stheiti','黑体',sans-serif; background-color: rgb(222, 222, 222); border-radius: 4px; color: rgb(51, 51, 51); }
#db-nav-location .local-label a.label:hover { background-color: rgb(224, 222, 218); color: rgb(51, 51, 51); }
.nav-local-list { display: none; position: absolute; z-index: 10; left: 50%; border: 1px solid rgb(221, 221, 221); width: 16em; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 12px 0px 6px 20px; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1); }
.nav-local-list li { display: inline-block; vertical-align: top; width: 4em; margin: 0px -3px 6px 0px; white-space: nowrap; }
.local-label i { display: inline-block; margin-left: 5px; height: 0px; width: 0px; line-height: 0; border-color: rgb(51, 51, 51) transparent transparent; border-style: solid dashed dashed; border-width: 6px 5px 0px; vertical-align: middle; }
.ui-ftip { z-index: 1; }
#db-nav-location .nav-search { float: right; position: relative; transition: all 0.5s ease 0s; padding: 10px 0px; }
#db-nav-location label { top: 0px; line-height: 28px; }
#db-nav-location .inp { position: relative; width: 278px; height: 28px; border: 1px solid rgb(227, 226, 222); text-align: left; background: url('undefined') no-repeat scroll 100% 50% rgb(255, 255, 255); border-radius: 0px; }
#db-nav-location .inp-text { margin: 0px; width: 92%; height: 28px; background: none repeat scroll 0px center transparent; }
#db-nav-location .inp-btn { cursor: pointer; font-size: 0px; line-height: 9999px; position: absolute; z-index: 1; width: 30px; height: 28px; right: 0px; top: 0px; left: auto; background: none repeat scroll 0px center transparent; padding: 0px; margin: 0px; }
a:link, a.no-visited:visited, a.no-hover:hover { color: rgb(51, 119, 170); }
a:hover { background-color: rgb(51, 119, 170); color: rgb(255, 255, 255); }
.title { color: rgb(17, 17, 17); }
.paginator .thispage { background: none repeat scroll 0% 0% rgb(102, 153, 204); }
.events-nav-item { overflow: hidden; margin-bottom: 8px; padding-top: 3px; }
.events-nav-title { float: left; color: rgb(68, 68, 68); }
.events-nav-item ul { overflow: hidden; }
.events-nav-item li { float: left; padding: 1px 2px; }
.events-nav-item li a { padding: 1px 4px; }
.events-nav-item li span { background: none repeat scroll 0% 0% rgb(70, 193, 207); color: rgb(255, 255, 255); padding: 2px 5px; border-radius: 2px; }
.events-filter-subtype { background: none repeat scroll 0% 0% rgb(245, 245, 245); padding: 8px 15px; border-radius: 4px; }
.events-filter-loc { float: right; }
.events-filter-loc .selected { padding: 0px 18px 2px 3px; cursor: pointer; background: url('ico-dropdown.png') no-repeat scroll 100% 3px rgb(255, 255, 255); }
.events-filter-loc .ui-fbox { box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.1); padding: 8px 0px; width: 9.2em; }
.events-filter-loc .ui-fbox li { float: none; margin-right: 0px; padding: 0px; }
.events-filter-loc .ui-fbox li a { display: block; padding: 1px 10px; }
.events-filter-loc .ui-fbox li a:hover { background-color: rgb(108, 193, 214); }
#datepicker .ui-datepicker-inline { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); width: 185px; border-radius: 3px; box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.1); }
.ui-datepicker-header { position: relative; }
.ui-datepicker-header a.ui-datepicker-prev span, .ui-datepicker-header a.ui-datepicker-next span { height: 20px; color: rgb(102, 102, 102); font-weight: bold; }
.ui-datepicker-header a:hover { color: rgb(51, 51, 51); background-color: rgb(221, 221, 221); }
.ui-datepicker-title { color: rgb(102, 102, 102); font-weight: bold; text-align: center; }
.ui-datepicker-calendar th { padding: 0.5em 0.3em; }
.ui-datepicker-calendar { padding: 10px; color: rgb(102, 102, 102); border-collapse: collapse; border-spacing: 0px; }
.ui-datepicker-calendar thead { background-color: rgb(238, 238, 238); }
.ui-datepicker-calendar th, .ui-datepicker-calendar td { border: 1px solid rgb(238, 238, 238); }
.ui-datepicker-calendar td a.ui-state-active.ui-state-hover, .ui-datepicker-calendar td a.ui-state-active { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(136, 136, 136); }
.ui-datepicker-calendar td a { text-align: center ! important; color: rgb(102, 102, 102); }
.ui-datepicker-calendar td a.ui-state-hover { color: rgb(102, 102, 102); background-color: rgb(238, 238, 238); }
#ui-datepicker-div { display: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#datepicker { display: none; position: absolute; z-index: 50; border: 0px none; padding: 0px; }
#datepicker .tri-left { left: -7px; top: 84px; }
#datepicker .tri-left .tri-left { top: -7px; }
#choose-date { cursor: pointer; }
#db-events-list .hd { border-bottom: 1px solid rgb(230, 230, 230); padding-bottom: 2px; }
.paginator { margin-top: 60px; }
.fee strong { font-weight: normal; }
#db-events-list { overflow: hidden; clear: none; }
a.bn-big-action, a.bn-big-action:link, a.bn-big-action:hover, a.bn-big-action:visited { display: inline-block; background: none repeat scroll 0% 0% rgb(168, 131, 96); color: rgb(255, 255, 255); border-radius: 2px; margin-right: 20px; padding: 0px 1em; line-height: 2.2em; vertical-align: middle; }
body { min-width: 964px; }
