/* ::::: http://img3.douban.com/f/shire/5f9de2b10ade1904ae2b9ddbb8ad5d2455955ec8/css/douban.css ::::: */

html { 
	color: rgb(17, 17, 17);
 	background: none repeat scroll 0% 0% rgb(255, 255, 255); 
 }
body, div, dl, dt, dd, ul, li,
 h1, h2, h3, h4, h5, h6, pre, code,
  form, fieldset, legend, input, button,
   textarea, blockquote {
	    margin: 0px; padding: 0px; 
		}
table {
	  border-collapse: collapse;
	  border-spacing: 0px;
	  }
fieldset, img { 
				border: 0px none;
 			}
address, caption, cite, code, dfn, em, i, 
strong, th, var, optgroup {
	 		font-style: normal; font-weight: normal;
	 			 }
ul, ol { 
		list-style: none outside none; 
		}
h1, h2, h3, h4, h5, h6 { 
			font-size: 100%; font-weight: normal;
						 }
input, button, textarea, select, optgroup, option {
	 font-family: inherit; 
	 font-size: inherit; 
	 font-style: inherit; font-weight: 
	 inherit; 
	 }
input, button, textarea, select {  }
a { cursor: pointer; }
a:link { 
 color: rgb(51, 119, 170);
 text-decoration: none; 
 }
a:visited {
	 color: rgb(102, 102, 153);	
	  text-decoration: none; 
	  }
a:hover { 
		color: rgb(255, 255, 255);
		 text-decoration: none; 
		 background: none repeat scroll 0% 0% rgb(51, 119, 170);
		  }
a:active {
	 color: rgb(255, 255, 255);
	  text-decoration: none;
	   background: none repeat scroll 0% 0% rgb(255, 153, 51);
	    }
a img { border-width: 0px; 
		vertical-align: middle; 
		}
body, td, th { 
		font: 12px/1.62 Helvetica,Arial,sans-serif;
		 }
table { 
	border-collapse: collapse; 
	border: 0px none; 
	padding: 0px; 
	margin: 0px; 
	}
.clearfix:after { 
		content: "."; 
		display: block; 
		height: 0px; 
		clear: both; 
		visibility: hidden; 
		}
.clearfix { display: inline-block; }
.clearfix { display: block; }
#wrapper { width: 950px; 
		margin: 0px auto;
		 }
#content { min-height: 420px; }
#footer { 
	color: rgb(153, 153, 153);
 	padding: 6px 0px;
	 margin-top: 40px; 
	overflow: hidden; 
	border-top: 1px dashed rgb(221, 221, 221);
	 }
input { 
	margin-right: 3px;
 	vertical-align: middle; 
	}
label { 
	font-family: Tahoma; 
	vertical-align: middle; 
	}
.extra { 
	clear: both;
	 text-align: right;
	  }
form { margin: 0px; 
		padding: 0px; 
		border: 0px none;
		 }
input { font-size: 12px; }
a { cursor: pointer; }
a:link { color: rgb(51, 119, 170); text-decoration: none; }
a:visited { color: rgb(102, 102, 153); text-decoration: none; }
a:hover { color: rgb(255, 255, 255); text-decoration: none; background: none repeat scroll 0% 0% rgb(51, 119, 170); }
a:active { color: rgb(255, 255, 255); text-decoration: none; background: none repeat scroll 0% 0% rgb(255, 153, 51); }
a img { border-width: 0px; vertical-align: middle; }
table { border-collapse: collapse; border: 0px none; padding: 0px; margin: 0px; }
ul { list-style-type: none; margin: 0px; padding: 0px; }
h2 { font: 15px/150% Arial,Helvetica,sans-serif; color: rgb(0, 119, 34); margin: 0px 0px 12px; }
.ll { float: left; }
.rr { float: right; }
.pl { font: 12px/150% Arial,Helvetica,sans-serif; color: rgb(102, 102, 102); }
.block1, .block5 { margin-bottom: 20px; }
.blank20, .block1, .block5 { margin-bottom: 20px; }
.fleft { float: left; }
.fright { float: right; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.aside .mod { margin-bottom: 40px; word-break: break-all; }
.mod:after { content: " "; display: block; clear: both; }
@media not all {
}
.aside .mod { margin: 0px 0px 40px; }
@media not all, not all {
}
@media not all {
}
/* ::::: http://img3.douban.com/f/shire/a23259957b835b7ec4c23b089798e711c2c4c9cf/css/loc/base.css ::::: */

ol, ul { list-style-position: outside; margin-left: 0px; }
address, em { font-style: normal; }
p { margin-top: 0.5em; margin-bottom: 0.7em; }
a.no-hover, a.no-hover:hover { background: none repeat scroll 0px center transparent; }
a.bn-x, a.bn-x:hover, a.bn-x:active { cursor: pointer; display: inline-block; height: 8px; width: 8px; line-height: 0; font-size: 0px; background: url('location_sprite.png') no-repeat scroll 100% 0px transparent; }
a.gloomy:link, a.gloomy:visited, a.gloomy { color: gray; }
a.gloomy:hover { color: rgb(255, 255, 255); background-color: gray; }
.fwrap { width: 950px; margin: 0px auto; z-index: 0; clear: both; }
.grid-free .article { width: 590px; padding-right: 20px; float: left; }
.grid-free .aside { width: 310px; padding-left: 20px; float: right; }
strong { font-weight: 600; }
.ui-slide-screen { position: relative; overflow: hidden; }
.ui-slide-screen .ui-slide-contents { position: absolute; }
.tri-down, .tri-up, .tri-left, .tri-right { display: inline-block; height: 0px; width: 0px; line-height: 0; font-size: 0px; vertical-align: middle; border: 4px dashed transparent; }
.tri-up { border-bottom: 4px solid rgb(204, 204, 204); border-top: 0px none ! important; }
.ui-ftip { padding: 6px 22px 6px 10px; border: 1px solid rgb(207, 207, 207); background: none repeat scroll 0% 0% rgb(255, 255, 255); position: absolute; border-radius: 3px; }
.ui-ftip a:hover { color: rgb(255, 255, 255); }
.ui-ftip .bn-x { position: absolute; right: 5px; top: 5px; cursor: pointer; }
.ui-ftip .tri-up, .ui-ftip .tri-down, .ui-ftip .tri-left, .ui-ftip .tri-right { position: absolute; display: block; border-width: 7px; }
.ui-ftip-cb, .ui-ftip-rt { box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }
.ui-ftip-cb .tri-up { left: 50%; margin-left: -4px; top: -7px; }
.ui-ftip .tri-up { border-bottom-color: rgb(204, 204, 204); }
.ui-ftip .tri-up .tri-up { left: -3px; top: 1px ! important; border-bottom-color: rgb(255, 255, 255); }
.tabs { padding-bottom: 10px; margin-bottom: 20px; border-bottom: 1px solid rgb(235, 235, 235); }
.tabs-more, .tabs a, .tabs a span { display: inline-block; line-height: 16px; height: 16px; overflow: hidden; }
.tabs a, .tabs a:visited { color: rgb(1, 146, 181); padding: 1px 10px; line-height: 1.4; font-size: 12px; margin-right: 8px; border-radius: 2px; }
.tabs a:active, .tabs a:hover { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(108, 193, 214); }
.tabs .on { padding: 1px 10px; border-radius: 3px; }
.tabs a.on:link, .tabs a.on:visited, .tabs a.on:hover, .tabs a.on:active { color: rgb(51, 51, 51); background: none repeat scroll 0% 0% rgb(230, 230, 230); }
.tabs a span { margin: 0px; }
.events-list .list-entry, .pic-items li { overflow: hidden; margin-bottom: 25px; }
.events-list .pic, .pic-items .pic { float: left; width: 70px; overflow: hidden; margin-right: 20px; }
.events-list .title, .pic-items .title { margin-bottom: 5px; line-height: 1.5; }
.events-list .datetime .time { margin-left: 5px; }
.events-list address { display: block; color: rgb(102, 102, 102); font-style: normal; }
.event-mod { margin-bottom: 30px; }
.event-mod .hd { margin-bottom: 20px; }
.article .event-mod { min-height: 300px; }
.article .event-mod .title { font-size: 14px; margin-bottom: 6px; }
.inline-list, .event-mod-2col .events-list, .event-mod-big .events-list, .fluid-mods, .events-list-2col { font-size: 0px; }
.inline-list li, .event-mod-2col .list-entry, .event-mod-big .list-entry, .fluid-mods .mod, .events-list-2col .list-entry { font-size: 12px; display: inline-block; vertical-align: top; }
.event-mod-2col .list-entry, .event-mod-big .list-entry, .events-list-2col .list-entry { width: 45%; margin: 0px; padding: 20px 2% 20px 0px; }
.events-list-pic70 .pic { margin-right: 20px; }
.events-list-pic70 .info .title { font-size: 12px; height: auto; overflow: visible; }
.events-list-pic70 .info { color: rgb(102, 102, 102); padding-right: 5px; margin-left: 90px; }
.events-list-2col { margin-left: -30px; margin-top: 0px; }
.events-list-2col .list-entry { width: 45%; border: 0px none; padding: 0px 0px 40px; margin-left: 30px; }
.gallery { margin-left: -26px; font-size: 0px; }
.gallery li { font-size: 12px; width: 81px; height: 140px; overflow: hidden; padding-left: 20px; margin-bottom: 40px; vertical-align: top; display: inline-block; text-align: center; }
.gallery li .pic { padding-bottom: 10px; }
.gallery li .pic a { background: none repeat scroll 0px center transparent; }
.gallery-pic110 { margin-left: 0px; }
.gallery-pic110 li { width: 110px; height: 165px; padding: 0px 20px; }
.simple-list-1col .list-entry { clear: both; margin-bottom: 25px; overflow: hidden; }
.simple-list-1col p { margin-top: 0px; }
.simple-list-1col li li { margin-bottom: 0.3em; }
.simple-list-1col .ll { margin-right: 10px; }
.simple-list-1col .info { padding-left: 60px; }
.simple-list-1col .title { font-size: 13px; height: 1.5em; overflow: hidden; margin: -2px 0px 4px; }
.simple-list-1col .tip { color: rgb(102, 102, 102); font-size: 12px; }
h2 { margin-bottom: 24px; color: rgb(51, 51, 51); }
.mod { margin-bottom: 30px; }
.mod h2 { line-height: 1.2; }
.article .event-mod .hd h2 { padding: 0px; float: left; line-height: 20px; margin-bottom: 0px; }
.article .event-mod .hd .tabs { border: 0px none; }
.cats-board { background: none repeat scroll 0% 0% rgb(246, 245, 242); padding: 9px; }
.cats-board h5 { margin-bottom: 9px; }
.cats-board h5, .cats-board h5 a { font-size: 14px; color: rgb(17, 17, 17); }
.cats-board h5 a:hover { color: rgb(17, 17, 17); background: none repeat scroll 0% 0% rgb(238, 238, 238); }
.cats-board .crow { margin-left: -7px; margin-right: -7px; }
.cats-board .col { -moz-box-sizing: border-box; padding: 7px; width: 17.6%; min-width: 20%; line-height: 1.95; }
.cats-board .col a { padding: 0px 3px; border-radius: 1px; line-height: 1.5em; display: inline-block; }
/* ::::: http://img3.douban.com/misc/mixed_static/1d9aca878f1daebc.css ::::: */

.global-nav .bn-more span { display: inline-block; vertical-align: baseline; }
.global-nav .arrow { position: relative; top: -2px; left: 2px; border-width: 3px 3px 0px; border-color: rgb(213, 213, 213) transparent transparent; border-style: solid dashed dashed; width: 0px; height: 0px; font-size: 0px; line-height: 0; }
.global-nav a:hover .arrow { border-color: rgb(255, 255, 255) transparent transparent; }
.global-nav .more-items { display: none; position: absolute; left: 0px; }
.global-nav { height: 28px; color: rgb(213, 213, 213); background-color: rgb(84, 86, 82); min-width: 950px; }
.global-nav a:link, .global-nav a:visited, .global-nav a:hover, .global-nav a:active { color: rgb(213, 213, 213); }
.global-nav a:hover, .global-nav a:active { color: rgb(255, 255, 255); background-color: transparent; }
.global-nav .global-nav-items { font-size: 0px; }
.global-nav .global-nav-items li { display: inline-block; line-height: 28px; font-size: 12px; vertical-align: baseline; }
.global-nav .global-nav-items a { display: inline-block; padding: 0px 12px; height: 28px; }
.global-nav .top-nav-info { float: right; margin: 0px 12px 0px 0px; line-height: 28px; }
.global-nav .top-nav-info ul, .global-nav .top-nav-info li { display: inline-block; }
.global-nav .top-nav-info a { display: inline-block; margin: 0px; padding: 0px 12px; height: 28px; }
.global-nav .nav-user-account .more-items { left: auto; right: 6px; }
.global-nav .top-nav-reminder { position: relative; float: right; margin-right: 5px; line-height: 28px; }
.global-nav .top-nav-reminder a { position: relative; }
.global-nav .top-nav-reminder .lnk-remind { display: inline-block; padding: 0px 12px; height: 28px; }
.global-nav .top-nav-reminder .more-items { position: absolute; z-index: 999; padding: 0px; width: 280px; left: -125px; top: 28px; border: 1px solid rgb(230, 230, 230); background: none repeat scroll 0% 0% rgb(255, 255, 255); white-space: normal; word-wrap: break-word; }
.global-nav .top-nav-reminder .more-items .bd { padding-top: 16px; color: rgb(62, 62, 62); line-height: 1.5; }
.global-nav .top-nav-reminder .more-items .bd p { padding: 0px 15px 13px; border-bottom: 1px solid rgb(240, 240, 240); }
.global-nav .top-nav-reminder .more-items p { margin: 0px; color: rgb(153, 153, 153); }
.perf-metric { position: absolute; margin-left: -200px; }
.nav { width: 100%; min-width: 950px; overflow: hidden; margin-bottom: 40px; }
.nav .nav-wrap { border-bottom: 1px solid rgb(229, 235, 228); }
.nav .nav-primary, .nav .nav-secondary { width: 950px; margin: 0px auto; padding-bottom: 0px; overflow: hidden; }
.nav .nav-primary { position: relative; padding: 10px 0px 5px; overflow: hidden; }
.nav .nav-logo { float: left; height: 56px; width: 145px; margin: 0px 13px 0px 0px; background: url('lg_main_a11_1.png') no-repeat scroll 0px 12px transparent; }
.nav .nav-logo a { display: block; width: 100%; height: 100%; overflow: hidden; line-height: 100em; }
.nav .nav-logo a:hover, .nav .nav-logo a:active { background: none repeat scroll 0% 0% transparent ! important; }
.nav-search { position: relative; overflow: hidden; padding: 10px 0px 15px; }
.nav-search input { border: 0px none; background: none repeat scroll 0% 0% transparent; }
.nav-search label { position: absolute; left: 11px; top: 10px; line-height: 30px; cursor: text; color: rgb(187, 187, 187); width: auto; }
.nav-search :-moz-placeholder { color: rgb(187, 187, 187); }
.nav-search *::-moz-placeholder { color: rgb(187, 187, 187); }
.nav-search .inp { float: left; width: 470px; height: 34px; text-align: center; cursor: text; background: url('nav_bg_a1.png') no-repeat scroll 0px 0px transparent; }
.nav-search .inp input { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 96%; margin: 0px; text-align: left; height: 30px; padding-left: 10px; outline: 0px none; }
.nav-search .inp-btn { position: relative; left: -1px; width: 37px; height: 34px; overflow: hidden; }
#db-nav-location { overflow: hidden; background: none repeat scroll 0% 0% rgb(246, 245, 242); }
#db-nav-location .nav-wrap { border: 0px none; }
#db-nav-location .nav-items, #db-nav-location .local-label { margin: 10px 0px 0px; }
#db-nav-location .nav-logo { width: 124px; background-image: url('lg_location_a11_1.png'); }
#db-nav-location .nav-items { float: left; font-size: 0px; margin-top: 13px; }
#db-nav-location .nav-items li { position: relative; display: inline-block; font-size: 15px; margin: 0px 15px; white-space: nowrap; }
#db-nav-location .nav-items li a:link, #db-nav-location .nav-items li a:visited { color: rgb(102, 68, 51); }
#db-nav-location .nav-items li a:hover, #db-nav-location .nav-items li a:active { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(102, 68, 51); }
#db-nav-location .local-label { float: left; margin-right: 30px; margin-top: 13px; padding: 0px; }
#db-nav-location .local-label a.label:link, #db-nav-location .local-label a.label:visited, #db-nav-location .local-label a.label:hover, #db-nav-location .local-label a.label:active { display: inline-block; float: left; padding: 5px 10px 6px; font: 700 14px/1 tahoma,arial,'stheiti','黑体',sans-serif; background-color: rgb(222, 222, 222); border-radius: 4px; color: rgb(51, 51, 51); }
#db-nav-location .local-label a.label:hover { background-color: rgb(224, 222, 218); color: rgb(51, 51, 51); }
.nav-local-list { display: none; position: absolute; z-index: 10; left: 50%; border: 1px solid rgb(221, 221, 221); width: 16em; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 12px 0px 6px 20px; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1); }
.nav-local-list li { display: inline-block; vertical-align: top; width: 4em; margin: 0px -3px 6px 0px; white-space: nowrap; }
.local-label i { display: inline-block; margin-left: 5px; height: 0px; width: 0px; line-height: 0; border-color: rgb(51, 51, 51) transparent transparent; border-style: solid dashed dashed; border-width: 6px 5px 0px; vertical-align: middle; }
.ui-ftip { z-index: 1; }
#db-nav-location .nav-search { float: right; position: relative; transition: all 0.5s ease 0s; padding: 10px 0px; }
#db-nav-location label { top: 0px; line-height: 28px; }
#db-nav-location .inp { position: relative; width: 278px; height: 28px; border: 1px solid rgb(227, 226, 222); text-align: left; background: url('undefined') no-repeat scroll 100% 50% rgb(255, 255, 255); border-radius: 0px; }
#db-nav-location .inp-text { margin: 0px; width: 92%; height: 28px; background: none repeat scroll 0px center transparent; }
#db-nav-location .inp-btn { cursor: pointer; font-size: 0px; line-height: 9999px; position: absolute; z-index: 1; width: 30px; height: 28px; right: 0px; top: 0px; left: auto; background: none repeat scroll 0px center transparent; padding: 0px; margin: 0px; }
a:link, a.no-visited:visited, a.no-hover:hover { color: rgb(51, 119, 170); }
a:hover { background-color: rgb(51, 119, 170); color: rgb(255, 255, 255); }
.title { color: rgb(17, 17, 17); }
.ui-slide-screen .ui-slide-contents { width: 1600%; }
#db-events-guess { position: relative; color: rgb(82, 111, 124); }
#db-events-guess .hd { height: 2.25em; border-bottom: 1px dotted rgb(218, 218, 218); padding-bottom: 0px; margin-bottom: 20px; }
#db-events-guess .bd { height: 220px; width: 600px; }
#db-events-guess .bd li { height: 216px; margin-bottom: 0px; }
#db-events-guess .bd a { font-size: 14px; }
.ui-slides .hd { height: 2.45em; }
.ui-slides .hd h2 { float: left; border: 0px none; margin-bottom: 0px; }
.ui-slides .hd .ui-slide-control { float: right; }
.ui-slide-control .ui-slide-counter { display: inline-block; margin-right: 10px; }
.ui-slide-control a, .ui-slide-control a:hover, .ui-slide-control a:link, .ui-slide-control a:active { display: inline-block; vertical-align: middle; width: 19px; height: 19px; cursor: pointer;background-image: url('../Images/slide_control.png'); background-color: rgb(255, 255, 255); background-repeat: no-repeat; }
.ui-slide-control a.btn-prev { background-position: 0px -21px; }
.ui-slide-control a.btn-next { background-position: -22px -2px; }
.ui-slide-control a.btn-prev-disabled { background-position: 0px -2px; }
a.bn-big-action, a.bn-big-action:link, a.bn-big-action:hover, a.bn-big-action:visited { display: inline-block; background: none repeat scroll 0% 0% rgb(168, 131, 96); color: rgb(255, 255, 255); border-radius: 2px; margin-right: 20px; padding: 0px 1em; line-height: 2.2em; vertical-align: middle; }
.mod h2 { margin-bottom: 0.7em; font-size: 15px; }
.mod { margin-bottom: 40px; }
.mod .hd { height: 25px; border-bottom: 1px dotted rgb(221, 221, 221); margin-bottom: 20px; }
.article .event-mod { min-height: 0px; }
#dale_location_home_top_right_frame { margin-bottom: 35px; }
.article .event-mod .hd h2 { width: 60px; padding-right: 20px; }
.article .events-list-2col .list-entry { height: 101px; }
.event-mod { margin-bottom: 10px; }
.event-mod .title a { font-size: 13px; }
.event-mod .hd { overflow: hidden; }
.event-mod .tabs { margin-right: 50px; overflow: hidden; }
.event-mod .tabs a { margin-bottom: 5px; }
.linkgrid li { width: 50%; }
.linkgrid a { height: 50px; padding: 25px; border: 1px solid rgb(238, 238, 238); margin-right: -1px; display: block; line-height: 24px; }
.linkgrid a:hover { background: none repeat scroll 0% 0% rgb(252, 252, 252); }
.linkgrid a span.info { color: rgb(102, 102, 102); }
.linkgrid a strong { display: block; font-size: 14px; font-weight: 400; }
.lnk-rss { padding-left: 20px; }
.lnk-rss, .lnk-rss:hover { background-image: url('feed1.png'); background-repeat: no-repeat; }
.mobile-app-entrance { overflow: hidden; margin-bottom: 15px; }
.mobile-app-entrance .entrance-link { display: block; position: relative; padding: 10px; height: 50px; margin-top: 10px; border-radius: 5px; }
.mobile-app-entrance .entrance-link.first-link { margin-top: 0px; }
.mobile-app-entrance .entrance-link, .mobile-app-entrance .entrance-link:link, .mobile-app-entrance .entrance-link:visited, .mobile-app-entrance .entrance-link:active, .mobile-app-entrance .entrance-link:hover { background: url('arrw.png') no-repeat scroll 97% 50% rgb(241, 241, 241); outline: medium none; color: rgb(78, 78, 78); }
.mobile-app-entrance .app-icon { width: 50px; height: 50px; float: left; margin-right: 13px; background: url('app_icons_50_6.jpg') no-repeat scroll 0% 0% transparent; border-radius: 10px; box-shadow: 1px 1px 2px rgb(153, 153, 153); }
.mobile-app-entrance .main-title, .mobile-app-entrance .sub-title { display: block; }
.mobile-app-entrance .main-title { color: rgb(32, 77, 146); font-size: 16px; font-weight: bold; line-height: 1; padding-top: 9px; }
.mobile-app-entrance .app-icon.icon-location { background-position: -100px 0px; }
.visible-sm, .visible-xs, .visible-md { display: none; }
body { min-width: 964px; }
