/* ::::: http://img3.douban.com/f/shire/ae32cb8310a09ba836b958b79d2cd1e706db2fed/css/ui/dialog.css ::::: */

.dui-dialog { position: fixed; z-index: 1000; }
.dui-dialog .dui-dialog-content { position: relative; z-index: 2; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); border-radius: 4px; }
.dui-dialog .hd { padding: 10px 10px 6px; background: none repeat scroll 0% 0% rgb(235, 245, 235); font-size: 14px; border-radius: 4px 4px 0px 0px; }
.dui-dialog .hd h3 { padding: 0px 40px 0px 4px; background: none repeat scroll 0px center transparent; color: rgb(0, 102, 0); }
.dui-dialog .bd { position: relative; padding: 15px; font-size: 12px; }
.dui-dialog .bd:after { content: " "; clear: both; display: block; }
.dui-dialog .dui-dialog-close { position: absolute; top: 10px; right: 12px; padding: 0px 3px; z-index: 1; font: 11px/1.2 "Comic Sans MS",sans-serif; }
a.dui-dialog-close:link { color: rgb(180, 180, 180); }
a.dui-dialog-close:hover { color: rgb(250, 176, 182); background: none repeat scroll 0px center transparent; }
.dui-dialog .dui-dialog-shd { position: absolute; left: -8px; top: -8px; width: 100%; height: 100%; padding: 8px; background: none repeat scroll 0% 0% rgb(102, 102, 102); opacity: 0.4; border-radius: 5px; }
/* ::::: http://img3.douban.com/f/shire/5f9de2b10ade1904ae2b9ddbb8ad5d2455955ec8/css/douban.css ::::: */

html { color: rgb(17, 17, 17); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote { margin: 0px; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img { border: 0px none; }
address, caption, cite, code, dfn, em, i, strong, th, var, optgroup { font-style: normal; font-weight: normal; }
ul, ol { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input, button, textarea, select {  }
a { cursor: pointer; }
a:link { color: rgb(51, 119, 170); text-decoration: none; }
a:visited { color: rgb(102, 102, 153); text-decoration: none; }
a:hover { color: rgb(255, 255, 255); text-decoration: none; background: none repeat scroll 0% 0% rgb(51, 119, 170); }
a:active { color: rgb(255, 255, 255); text-decoration: none; background: none repeat scroll 0% 0% rgb(255, 153, 51); }
a img { border-width: 0px; vertical-align: middle; }
body, td, th { font: 12px/1.62 Helvetica,Arial,sans-serif; }
table { border-collapse: collapse; border: 0px none; padding: 0px; margin: 0px; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
#wrapper { width: 950px; margin: 0px auto; }
#content { min-height: 420px; }
#footer { color: rgb(153, 153, 153); padding: 6px 0px; margin-top: 40px; overflow: hidden; border-top: 1px dashed rgb(221, 221, 221); }
input { margin-right: 3px; vertical-align: middle; }
label { font-family: Tahoma; vertical-align: middle; }
.extra { clear: both; text-align: right; }
form { margin: 0px; padding: 0px; border: 0px none; }
input { font-size: 12px; }
a { cursor: pointer; }
a:link { color: rgb(51, 119, 170); text-decoration: none; }
a:visited { color: rgb(102, 102, 153); text-decoration: none; }
a:hover { color: rgb(255, 255, 255); text-decoration: none; background: none repeat scroll 0% 0% rgb(51, 119, 170); }
a:active { color: rgb(255, 255, 255); text-decoration: none; background: none repeat scroll 0% 0% rgb(255, 153, 51); }
a img { border-width: 0px; vertical-align: middle; }
table { border-collapse: collapse; border: 0px none; padding: 0px; margin: 0px; }
h1 { word-wrap: break-word; display: block; font-size: 25px; font-weight: bold; color: rgb(73, 73, 73); margin: 0px; padding: 0px 0px 15px; line-height: 1.1; }
h3 { margin-left: 4px; font: 14px/1.8 Arial,Helvetica,sans-serif; color: rgb(102, 102, 102); margin-bottom: 1px; background-color: rgb(242, 251, 242); }
ul { list-style-type: none; margin: 0px; padding: 0px; }
.pl2 { font: 14px/150% Arial,Helvetica,sans-serif; color: rgb(102, 102, 102); }
.fleft { float: left; }
.fright { float: right; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.loading { display: block; float: right; margin: 5px 10px 0px 0px; height: 14px; width: 14px; background: url('spinner.gif') no-repeat scroll 0% 0% transparent; }
@media not all {
}
@media not all, not all {
}
@media not all {
}
#db-usr-profile img { vertical-align: bottom; }
#db-usr-profile { width: 100%; height: 58px; margin-bottom: 2em; position: relative; left: 0px; top: 0px; }
#db-usr-profile .pic { float: left; margin-right: 12px; }
#db-usr-profile .info { float: left; padding-top: 2px; }
#db-usr-profile h1 { padding: 0px 0px 4px; }
/* ::::: http://img3.douban.com/f/shire/a23259957b835b7ec4c23b089798e711c2c4c9cf/css/loc/base.css ::::: */

ol, ul { list-style-position: outside; margin-left: 0px; }
address, em { font-style: normal; }
p { margin-top: 0.5em; margin-bottom: 0.7em; }
.fwrap { width: 950px; margin: 0px auto; z-index: 0; clear: both; }
.grid-free .article { width: 590px; padding-right: 20px; float: left; }
.grid-free .aside { width: 310px; padding-left: 20px; float: right; }
strong { font-weight: 600; }
.tabs { padding-bottom: 10px; margin-bottom: 20px; border-bottom: 1px solid rgb(235, 235, 235); }
.tabs-more, .tabs a, .tabs a span { display: inline-block; line-height: 16px; height: 16px; overflow: hidden; }
.tabs a, .tabs a:visited { color: rgb(1, 146, 181); padding: 1px 10px; line-height: 1.4; font-size: 12px; margin-right: 8px; border-radius: 2px; }
.tabs a:active, .tabs a:hover { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(108, 193, 214); }
.tabs .on { padding: 1px 10px; border-radius: 3px; }
.tabs a.on:link, .tabs a.on:visited, .tabs a.on:hover, .tabs a.on:active { color: rgb(51, 51, 51); background: none repeat scroll 0% 0% rgb(230, 230, 230); }
.norm-tabs { border-bottom: 0px none; margin-bottom: 20px; }
.norm-tabs em { color: rgb(170, 170, 170); }
.norm-tabs a.on:link, .norm-tabs a.on:visited, .norm-tabs a.on:hover, .norm-tabs a.on:active { background: none repeat scroll 0% 0% rgb(70, 193, 207); color: rgb(255, 255, 255); }
.norm-tabs a.on:link em, .norm-tabs a.on:visited em, .norm-tabs a:hover em, .norm-tabs a.on:active em { color: rgb(255, 255, 255); }
.events-list .list-entry, .pic-items li { overflow: hidden; margin-bottom: 25px; }
.events-list .pic, .pic-items .pic { float: left; width: 70px; overflow: hidden; margin-right: 20px; }
.events-list .title, .pic-items .title { margin-bottom: 5px; line-height: 1.5; }
.events-list .event-meta { line-height: 1.3; }
.events-list .event-meta li { margin-bottom: 5px; }
.events-list-pic100 .list-entry { margin-bottom: 10px; padding-bottom: 20px; }
.events-list-pic100 .pic { width: 100px; height: 150px; margin-right: 20px; }
.events-list-pic100 .title { height: auto; font-size: 14px; overflow: hidden; }
.events-list-pic100 .info { color: rgb(102, 102, 102); margin-left: 120px; }
.events-list-pic100 .counts { background: none repeat scroll 0% 0% rgb(245, 245, 245); display: inline-block; padding: 3px 10px 2px; }
.events-list-pic100 .counts .pipe { width: 1px; background: none repeat scroll 0% 0% rgb(204, 204, 204); height: 0.9em; margin: 0px 4px; vertical-align: middle; display: inline-block; }
.events-list-psmall .pic { width: 110px; height: 165px; margin-right: 20px; }
.events-list-psmall .info { margin-left: 130px; }
.event-cate-tag { margin-top: 4px; }
.event-cate-tag a:link { color: rgb(153, 153, 153); margin-right: 2px; }
.event-cate-tag a:hover { color: rgb(0, 127, 158); background: none repeat scroll 0px center transparent; }
h1 { padding-bottom: 30px; }
.aside p.pl2 { margin: 0px 0px 0.4em; }
.title-badge { vertical-align: baseline; color: rgb(255, 255, 255); font-weight: 200; background-color: rgb(128, 200, 218); font-size: 12px; line-height: 18px; padding: 0px 3px; border-radius: 3px; display: inline-block; margin-bottom: 3px; }
.title-tickets-badge { background-color: rgb(255, 130, 99); }
.title-tickets-badge:hover { background-color: rgb(255, 112, 86); }
/* ::::: http://img3.douban.com/misc/mixed_static/76f8ae73c89e82b9.css ::::: */

.global-nav .bn-more span { display: inline-block; vertical-align: baseline; }
.global-nav .more-items { display: none; position: absolute; left: 0px; }
.global-nav { height: 28px; color: rgb(213, 213, 213); background-color: rgb(84, 86, 82); min-width: 950px; }
.global-nav a:link, .global-nav a:visited, .global-nav a:hover, .global-nav a:active { color: rgb(213, 213, 213); }
.global-nav a:hover, .global-nav a:active { color: rgb(255, 255, 255); background-color: transparent; }
.global-nav .global-nav-items { font-size: 0px; }
.global-nav .global-nav-items li { display: inline-block; line-height: 28px; font-size: 12px; vertical-align: baseline; }
.global-nav .global-nav-items a { display: inline-block; padding: 0px 12px; height: 28px; }
.global-nav .top-nav-info { float: right; margin: 0px 12px 0px 0px; line-height: 28px; }
.global-nav .top-nav-info a { display: inline-block; margin: 0px; padding: 0px 12px; height: 28px; }
.nav { width: 100%; min-width: 950px; overflow: hidden; margin-bottom: 40px; }
.nav .nav-wrap { border-bottom: 1px solid rgb(229, 235, 228); }
.nav .nav-primary, .nav .nav-secondary { width: 950px; margin: 0px auto; padding-bottom: 0px; overflow: hidden; }
.nav .nav-primary { position: relative; padding: 10px 0px 5px; overflow: hidden; }
.nav .nav-logo { float: left; height: 56px; width: 145px; margin: 0px 13px 0px 0px; background: url('lg_main_a11_1.png') no-repeat scroll 0px 12px transparent; }
.nav .nav-logo a { display: block; width: 100%; height: 100%; overflow: hidden; line-height: 100em; }
.nav .nav-logo a:hover, .nav .nav-logo a:active { background: none repeat scroll 0% 0% transparent ! important; }
.nav-search { position: relative; overflow: hidden; padding: 10px 0px 15px; }
.nav-search input { border: 0px none; background: none repeat scroll 0% 0% transparent; }
.nav-search label { position: absolute; left: 11px; top: 10px; line-height: 30px; cursor: text; color: rgb(187, 187, 187); width: auto; }
.nav-search :-moz-placeholder { color: rgb(187, 187, 187); }
.nav-search *::-moz-placeholder { color: rgb(187, 187, 187); }
.nav-search .inp { float: left; width: 470px; height: 34px; text-align: center; cursor: text; background: url('nav_bg_a1.png') no-repeat scroll 0px 0px transparent; }
.nav-search .inp input { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 96%; margin: 0px; text-align: left; height: 30px; padding-left: 10px; outline: 0px none; }
.nav-search .inp-btn { position: relative; left: -1px; width: 37px; height: 34px; overflow: hidden; }
#db-nav-location { overflow: hidden; background: none repeat scroll 0% 0% rgb(246, 245, 242); }
#db-nav-location .nav-wrap { border: 0px none; }
#db-nav-location .nav-items, #db-nav-location .local-label { margin: 10px 0px 0px; }
#db-nav-location .nav-logo { width: 124px; background-image: url('lg_location_a11_1.png'); }
#db-nav-location .nav-items { float: left; font-size: 0px; margin-top: 13px; }
#db-nav-location .nav-items li { position: relative; display: inline-block; font-size: 15px; margin: 0px 15px; white-space: nowrap; }
#db-nav-location .nav-items li a:link, #db-nav-location .nav-items li a:visited { color: rgb(102, 68, 51); }
#db-nav-location .nav-items li a:hover, #db-nav-location .nav-items li a:active { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(102, 68, 51); }
#db-nav-location .local-label { float: left; margin-right: 30px; margin-top: 13px; padding: 0px; }
#db-nav-location .local-label a.label:link, #db-nav-location .local-label a.label:visited, #db-nav-location .local-label a.label:hover, #db-nav-location .local-label a.label:active { display: inline-block; float: left; padding: 5px 10px 6px; font: 700 14px/1 tahoma,arial,'stheiti','黑体',sans-serif; background-color: rgb(222, 222, 222); border-radius: 4px; color: rgb(51, 51, 51); }
#db-nav-location .local-label a.label:hover { background-color: rgb(224, 222, 218); color: rgb(51, 51, 51); }
.nav-local-list { display: none; position: absolute; z-index: 10; left: 50%; border: 1px solid rgb(221, 221, 221); width: 16em; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 12px 0px 6px 20px; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1); }
.nav-local-list li { display: inline-block; vertical-align: top; width: 4em; margin: 0px -3px 6px 0px; white-space: nowrap; }
.local-label i { display: inline-block; margin-left: 5px; height: 0px; width: 0px; line-height: 0; border-color: rgb(51, 51, 51) transparent transparent; border-style: solid dashed dashed; border-width: 6px 5px 0px; vertical-align: middle; }
#db-nav-location .nav-search { float: right; position: relative; transition: all 0.5s ease 0s; padding: 10px 0px; }
#db-nav-location label { top: 0px; line-height: 28px; }
#db-nav-location .inp { position: relative; width: 278px; height: 28px; border: 1px solid rgb(227, 226, 222); text-align: left; background: url('undefined') no-repeat scroll 100% 50% rgb(255, 255, 255); border-radius: 0px; }
#db-nav-location .inp-text { margin: 0px; width: 92%; height: 28px; background: none repeat scroll 0px center transparent; }
#db-nav-location .inp-btn { cursor: pointer; font-size: 0px; line-height: 9999px; position: absolute; z-index: 1; width: 30px; height: 28px; right: 0px; top: 0px; left: auto; background: none repeat scroll 0px center transparent; padding: 0px; margin: 0px; }
a:link, a.no-visited:visited, a.no-hover:hover { color: rgb(51, 119, 170); }
a:hover { background-color: rgb(51, 119, 170); color: rgb(255, 255, 255); }
.title { color: rgb(17, 17, 17); }
#db-usr-profile { width: 100%; height: 58px; margin-bottom: 2em; position: relative; left: 0px; top: 0px; }
#db-usr-profile .pic { float: left; margin-right: 12px; }
#db-usr-profile .info { float: left; padding-top: 2px; }
#db-usr-profile h1 { padding: 0px 0px 4px; }
#db-usr-profile .pic { width: 48px; }
#db-usr-profile h1 { padding-bottom: 2px; }
#db-usr-profile p { margin: 0.3em 0px; }
#db-usr-profile .info span { margin-right: 0.8em; }
#db-usr-profile .sep { color: rgb(238, 238, 238); }
.loading { font-size: 14px; margin: 12px; color: rgb(136, 136, 136); background-position: left center; padding: 0px 0px 0px 20px; float: none; width: auto; height: auto; }
#l_tabs li { display: inline-block; padding: 0px 12px; }
#l_tabs li {  }
.selected { background: none repeat scroll 0% 0% rgb(147, 183, 123); border-radius: 3px; color: rgb(255, 255, 255); }
.selected a, .selected a:link { color: rgb(255, 255, 255) ! important; background: none repeat scroll 0% 0% transparent; cursor: default; }
.panel ul { border-top: 1px solid rgb(204, 204, 204); padding: 12px 0px 0px 12px; margin: 10px 0px; }
.panel a { font-size: 14px; }
.panel ul li { display: inline-block; padding: 0px 3px; margin-right: 15px; }
.panel ul li {  }
body { min-width: 964px; }
/* ::::: http://static.app.widdit.com/css/skins/mclassic.css ::::: */

div.predictad { position: absolute; z-index: 3999999 ! important; line-height: 13px; border: medium none ! important; margin: 0px; padding: 0px; }
#predictad_table th, td { border: 0px none; }
